<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- DATABASE CONFIGURATION -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- ENABLE HIBERNATE AUTOMATIC SESSION CONTEXT MANAGEMENT -->
		<property name="current_session_context_class">thread</property>

		<!-- DISABLE SECOND LEVEL CACHE -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<property name="show_sql">true</property>

		<!--<property name="use_sql_comments">true</property>-->

		<!--	供应商 			Catalog支持 					Schema支持
				Oracle 	 		不支持 	 					Oracle User ID
				MySQL 	 		不支持 	 					数据库名
				MS SQL Server 	数据库名 	 					对象属主名，2005版开始有变
				DB2 			指定数据库对象时，Catalog部分省略 	Catalog属主名
				Sybase 	 		数据库名 	 					数据库属主名
				Informix 	 	不支持 	 					不需要
				PointBase 	 	不支持 	 					数据库名

  		-->
		<!--<property name="default_schema">test</property>-->
		<!--<property name="default_catalog">kzx</property>-->

		<!-- OUTER JOIN MAX DEPTH -->
		<!--<property name="max_fetch_depth">0</property>-->

		<!-- DROP AND RECREATE DATABASE SCHEMA ON STARTUP -->
		<!--<property name="hbm2ddl.auto">create</property>-->

		<!-- WHEN A PERSISTED OBJECT IS DELETED, ROLLBACK ITS
			ID TO DEFAULT VALUE -->
		<!--<property name="use_identifier_rollback">true</property>-->


		<mapping resource="main/java/model/Event.hbm.xml" />
		<mapping resource="main/java/model/Person.hbm.xml" />
	</session-factory>
</hibernate-configuration>